<input [(ngModel)]="title">
<button (click)="filterData(title)">Search</button>
<span>{{searchString}}</span>

<span appHoverAffect [bold]='"bold"' [underline]='"underline"'>Drama</span>
<div *ngFor="let data of indianMovies|sortType:'Drama'" [class.drama]="indianMovies|sortType">
    <app-content-card [content]="data"></app-content-card>
</div>
<span appHoverAffect [bold]='"bold"' [underline]='"underline"'>Movie</span>
<div *ngFor="let data of indianMovies|sortType:'Movie'"[class.movie]="indianMovies|sortType">
    <app-content-card [content]="data"></app-content-card>
</div>